body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
    background: url(subway-lines.png) repeat 0 0;
}


/* change the URL to a picture of your choice - the higher quality the better! */
.business-header {
	margin:  auto; 
	height: 400px;
	width: 90%;
	background-size: auto;
	background-color: #BF3030;	


}
.body-header{
	margin:  auto;
	height: 300px;
	width: 90%;
	background-size: 90% 90%;
	background-color: #D6A781;

}

.conclude-header{
	margin:  auto;
	height: 500px;
	width: 100%;
	background-size: auto;
	background-color: #D69662 ;

}

.road{
	margin-top: 10%;
    border:2px ;
    border-radius:25px;
    margin-right: 10%;
  
}



/* adjust the color and text shadow to optimize legibility once you have an image set - you can also change the vertical positioning if desired  */
.Welcome{
	font-family: Lato;
	font-size: 500%;
	color: #fff;
	text-align: left;
	font-style: italic;
}
.fa{
	font-family: Lato;
	font-size: 900%;
	font-style: oblique;
	color: #fff;
	text-align: right;
}

.tagline {
	color: #fff;
	text-shadow: 0 0 10px #000;
	font-size: 250%;
	text-align: center;
}

footer {
	margin: 50px 0;
}

h1,h2,h3 p{
	font-family: 'Lora', serif;
	font-size: 95%;
	text-align: justify center;
}

.btn-custom {
  background-color: hsl(0, 0%, 83%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#12a12a12a", endColorstr="#d3d3d3");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#12a12a12a), to(#d3d3d3));
  background-image: -moz-linear-gradient(top, #12a12a12a, #d3d3d3);
  background-image: -ms-linear-gradient(top, #12a12a12a, #d3d3d3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #12a12a12a), color-stop(100%, #d3d3d3));
  background-image: -webkit-linear-gradient(top, #12a12a12a, #d3d3d3);
  background-image: -o-linear-gradient(top, #12a12a12a, #d3d3d3);
  background-image: linear-gradient(#12a12a12a, #d3d3d3);
  border-color: #d3d3d3 #d3d3d3 hsl(0, 0%, 74.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.56);
  -webkit-font-smoothing: antialiased;
}

.img-circle{
	margin: auto;

}

.navbar{
	background-color: #D6A781;
}

.nav{
	text-color:black;
}
