body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
    background: url(subway-lines.png) repeat 0 0;
}


/* change the URL to a picture of your choice - the higher quality the better! */
.business-header {
	margin:  auto;
	height: 400px;
	width: 80%;
	background-size: auto;
	background-color: #ac3030;


}
.body-header{
	margin:  auto;
	height: 300px;
	width: 90%;
	background-size: 90% 90%;
	background-color: #D6A781;

}

.conclude-header{
	margin:  auto;
	height: 500px;
	width: 100%;
	background-size: 100% 100%;
	background-color: #D69662 ;

}

/* adjust the color and text shadow to optimize legibility once you have an image set - you can also change the vertical positioning if desired  */
.Welcome{
	font-family: Lato;
	font-size: 500%;
	color: #fff;
	text-align: left;
	font-style: italic;;
}
.fa{
	font-family: Lato;
	font-size: 900%;
	font-style: oblique;
	color: #fff;
	text-align: right;
}

.tagline {
	color: #fff;
	text-shadow: 0 0 10px #000;
	font-size: 250%;
	text-align: center;
}

footer {
	margin: 50px 0;
}

h1,h2, p{
	font-family: 'Lora', serif;
	font-size: 100%;
	text-align: justify;
}

.btn-custom {
  background-color: hsl(190, 73%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22bddc", endColorstr="#147184");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#22bddc), to(#147184));
  background-image: -moz-linear-gradient(top, #22bddc, #147184);
  background-image: -ms-linear-gradient(top, #22bddc, #147184);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #22bddc), color-stop(100%, #147184));
  background-image: -webkit-linear-gradient(top, #22bddc, #147184);
  background-image: -o-linear-gradient(top, #22bddc, #147184);
  background-image: linear-gradient(#22bddc, #147184);
  border-color: #147184 #147184 hsl(190, 73%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
